*{
margin:0;
padding:0;
}
a{
text-decoration:none;
}
li{
list-style:none;
}
.temizle{
clear:both;
}
img{
border:none;
}
input,textarea{
font-family:"Helvetica Neue","Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
}
body{
background-image:url(../img/bg.png);
font-family:"Helvetica Neue","Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
color:#777;
}
#anablok{
padding-left:10px;
background:url(../img/header.png);
background-repeat:repeat-x;
}
#header{
height:88px;
width:850px;
}
#logo{
float:left;
margin-top:18px;
}
#anamenu{
float:right;
margin-top:54px;
}
#anamenu li{
float:left;
} 
#anamenu li a{
display:block;
padding:5px 10px;
background:#222;
color:#efefef;
font-size:14px;
}
#anamenu li a span{
color:#0099ff;
}
#anamenu li a:hover{
background:#f03;
}
#navigasyon{
background:#000;
margin-top:10px;
width:850px;
}
.icon{
background:#111;
padding:5px;
width:150px;
text-align:center;
float:left;
margin:5px;
}
.icon:hover{
background:#222;
}
.icona{
display:block;
color:#ccc;
margin-top:10px;
font-size:14px;
background:#000;
padding:3px;
}
.icona:hover{
background:#f03;
}
.icon img{
width:64px;
height:64px;
}
.blok{
padding:5px;
background:#000;
margin-top:10px;
width:840px;
color:#888;
}
#form_alani{
font-size:15px;
}
#form_alani span{
display:block;
float:left;
width:178px;
padding-top:4px;
}
#form_alani .inp{
padding:6px;
border:none;
background:#222;
width:650px;
color:#999;
font-size:15px;
}
#form_alani .select{
padding:6px;
border:none;
background:#222;
width:150px;
color:#999;
font-size:15px;
}
#form_alani .sub{
padding:6px;
border:none;
background:#0099ff;
color:#fff;
font-size:15px;
cursor:pointer;
}
#form_alani .sub:hover{
background:#f03;
}
#form_alani .text{
padding:6px;
border:none;
background:#222;
width:650px;
color:#999;
font-size:15px;
height:50px;
}
.formlist{
margin-bottom:5px;
}
.tr_ust{
background:#0099cc;
color:#fff;
}
#list_alani td{
padding:5px;
}
.tr_alt{
background:#222;
font-size:14px;
}
#okunmamis{
background:#444 !important;
color:#ccc
}
.tr_alt img{
margin-top:4px;
}
.islem{
text-align:center;
}
#sayfalama{
margin-top:10px;
margin-left:2px;
margin-bottom:10px;
}
#sayfalama a{
padding:5px 9px;
color:#efefef;
background:#333;
font-size:13px;
margin-right:2px;
}
#sayfalama a:hover{
background:#f03;
}
#sayfalama .aktif{
background:#0099ff;
}
#sayfalama span{
margin-right:5px;
}
.islemler{
margin-left:2px;
margin-top:5px;
}
.sec{
padding:5px;
border:none;
float:left;
}
.yap{
padding:6px 10px 5px 10px ;
border:none;
background:#0099cc;
color:#fff;
float:left;
margin-left:5px;
cursor:pointer;
}
.yap:hover{
background:#222;
}
#cikis{
background:#0099ff !important;
}
#cikis:hover{
background:#990000 !important;
}
.sonucu{
margin-top:10px;
padding:5px;
color:#fff;
width:840px;
font-size:14px
}
.sonucu_ok{
background:#009900;
}
.sonucu_hata{
background:#990000;
}
.basliks{
background:#111;
}
.basliks span{
color:#0099ff;
float:right;
}
.vtip{
cursor:pointer;
}
.alticizgi{
text-decoration:underline;
}
.yok{
padding:5px;
background:#222;
margin-left:2px;
margin-right:2px;
}
#blok{
width:568px;
margin:0 auto;
margin-top:150px;
padding-top:10px;
}
#loginform{
width:528px;
padding:20px;
background:#000;
border-top:4px solid #666;
}
#loginsol{
float:left;
}
#loginsag{
float:right;
width:400px;
}
.lip{
padding:6px;
background:#222;
border:none;
width:267px;
color:#666;
}
.lsb{
border:none;
cursor:pointer;
background:#0099ff;
padding:5px;
color:#fff;
width:80px;
float:left;
}
.lsb:hover{
background:#f03;
}
#loginform ul li span{
display:block;
width:120px;
padding-top:4px;
float:left;
}
#loginform ul li{
margin-bottom:5px;
}
#loginform small a{
float:left;
margin-left:10px;
color:#888;
margin-top:5px;
}
#loginform small a:hover{
text-decoration:underline;
}
#loginform h3{
color:#666;
margin-bottom:10px;
background:#111;
padding:4px;
text-align:center;
font-size:18px;
text-shadow:1px 1px 1px #000;
}
.admin{
width:558px;
margin:0 auto;
text-align:center;
font-size:15px;
background:#666;
padding:5px;
color:#fff;
text-shadow:1px 1px 1px #222;
}
#hatirla{
width:558px;
margin:0 auto;
margin-top:10px;
background:#000;
padding:5px;
display:none;
}
.hatirlat{
border:none;
cursor:pointer;
background:#0099ff;
padding:6px;
color:#fff;
float:right;
}
.hatirlat:hover{
background:#f03;
}
.ws{
width:400px;
}
.login_hata{
padding:5px;
margin-bottom:5px;
background:#990000;
color:#efefef;
}
.hatirlatx{
padding:5px;
margin-bottom:5px;
color:#efefef;
}
.okx{
background:#009900;
}
.nox{
background:#990000;
}
.isay{
color:#0099ff;
}
#gitoku b{
display:block;
width:150px;
float:left;
color:#efefef
}
#gitoku li{
margin-bottom:5px;
padding-bottom:4px;
border-bottom:1px dashed #111
}
#gitoku span{
font-size:13px;
}
#okudum{
color:#fff;
padding:5px;
background:#009900;
display:block;
font-size:14px;
margin-top:10px;
width:200px;
text-align:center;
}
.uyx{
padding:5px;
background:#990000;
color:#ccc;
text-align:center;
font-size:14px;
margin-bottom:20px;
}
.botlist a{
background:#222;
padding:5px;
color:#fff;
display:block;
margin-bottom:5px;
}
.botlist a span{
color:#0099ff;
}
.botlist a:hover{
background:#111;	
}
.etti{
padding:2px;
background:#333;
margin-bottom:2px;
color:#fff;
font-size:13px;
width:202px;
float:left;
margin:2px;
}
.etti .oksc{
color:#0099ff;
float:right;
}
.etti .oksd{
color:#f03;
float:right;
}
.botsol{
float:left;
width:150px;
padding:5px;
background:#444;
}
.botsag{
float:right;
width:670px;
padding:3px;
background:#444;
}
.botlists{
margin-bottom:2px;
color:#ccc;
font-size:14px;
}
.botlists span{
width:145px;
float:left;
padding-top:5px;
padding-left:5px;
}
.ipx{
padding:5px;
background:#111;
border:none;
color:#999;
font-size:14px;
width:508px;
}
.scx{
padding:6px;
background:#111;
border:none;
color:#999;
font-size:14px;
width:200px;
float:left;
}
.subx{
margin-left:5px;
float:left;
padding:5px;
background:#0099ff;
border:none;
color:#fff;
font-size:14px;
padding-bottom:6px;
cursor:pointer;
}
.subx:hover{
background:#f03;
color:#fff;
}
.gizlis{
background-image:url(../img/nokta.png);
width:150px;
height:120px;
position:absolute;
}
.gizlis span{
font-size:12px;
font-weight:bold;
display:block;
background:#0099ff;
color:#fff;
padding:5px;
text-align:center;
}
.gizlis_1{
background-image:url(../img/nokta.png);
width:150px;
height:120px;
position:absolute;
}
.gizlis_1 span{
font-size:12px;
font-weight:bold;
display:block;
background:#990000;
color:#fff;
padding:5px;
text-align:center;
}
#lele{
position:absolute;
background:#000;
}